    header {
      text-align: center;
      background: url("http://vignette3.wikia.nocookie.net/starrysky/images/4/4f/Starry_sky_1.png/revision/latest?cb=20150724135550");
      background-size: cover;
      color: white;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
      font-family: 'Sacramento', cursive;
    }
    body{
      font-family: 'Raleway', sans-serif;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
